<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story View</title>
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
</head>
<body class="">
    <header class="flex flex-row bg-black justify-between items-center font-body ">
        <section class="logo-section w-30 px-3 py-1">
            <div class="">
                <img class="w-3/12" src="/images/logo.png" alt="snapshot logo">
            </div>
        </section>
        <section class="nav">
            <nav>
                <ul class="text-white flex flex-row justify-between text-1xl">
                    <li class="mx-4"><a href="/">Home</a></li>
                    <li class="mx-4"><a href="/stories">Stories</a></li>
                    <li class="mx-4"><a href="/dashboard">dashboard</a></li>
                    <li class="mx-4"><a href="/logout">LogOut</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main class="font-body">
        <article class="full-story-section flex flex-col justify-center mx-1 my-2 items-center">
            <section class="image-section w-6/12 h-4/12 flex flex-row items-center justify-center bg-black p-2 my-1 ">
                <div class="user-details bg-white w-7/12 text-center p-2 mx-2">
                    <div class="user-profile flex flex-row justify-center items-center bg-white p-2 ">
                        <img class="w-20 h-20 relative  rounded-full" src="/images/upload/<%= story.author.profilePic %>" alt="author profile Pic">
                    </div>
                    <div class="user-name">
                        <h2 class="text-black">Author: <strong class="text-red-700"><%= story.author.name %></strong></h2>
                        <h3 class="text-black">Total Stories: <strong class="text-red-700"><%= stories.length %></strong> </h3>
                    </div>
                </div>
                <div class="img-background">
                    <img src="/images/upload/<%= story.snapshot %>" alt="">
                </div>
            </section>
            <section class="text-section mx-10 ">
                 <div class="title-section text-center">
                     <h2 class="text-3xl text-red-700 font-bold py-4">"<%= story.title %>"</h2>
                 </div>
                 <div class="bg-black  py-4 mx-2 ">
                        <div class="py-2 mx-3 text-red-600   inline-block">
                            <h3 class="text-2xl font-bold ">Story</h3>
                        </div>
                        <div class="description-section mx-3  text-black  ">
                            <p class="story-description py-2 text-white   font-normal"><%= story.description%></p>
                        </div>
                        <div class="text-2xl font-bold inline-block mx-3 text-red-600   my-4">
                        <h4 class="">Tags:</h4>
                        </div>
                        <div class="story-tags ">
                            <% story.tags.forEach((tag) => { %>
                                <span class="bg-white text-black mx-2 my-4 p-2 "><%= tag %></span>
                        <%  }) %>
                        </div>
                 </div>
            </section>
        </article>
        <article class="comment-append-section mx-10">
            <section class="bg-red-800 text-white inline-block mx-3 my-4 p-2 ">
                <div>
                    <h2 class="text-1xl underline">Thoughts about this snapshot from different users:</h2>
                </div>
            </section>
             <%   if(comments == ''){ %>
                    <h2 class="text-1xl text-red-600 mx-3 font-bold py-2">No one added of their thoughts yet,you can be the first</h2>
             <%   }else{ %>
                   <%   comments.forEach((comment) => { %>
                        <section class="bg-gray-600  text-white p-2 mx-3">
                            <div class="user-section flex flex-row items-center">
                               <img class="rounded-full w-10 h-10 mr-4 shadow-lg mb-4" src="/images/upload/<%= story.snapshot %>" alt="">
                               <h2><%= comment.authorId.name %></h2>
                            </div>
                            <div class="comment-section">
                                <p><%= comment.comment %></p>
                            </div>
                        </section> 
                    <%  }) %>
            <%    } %>
        </article>
        <article class="comment-section mx-10 ">
            <section class="comment-form mx-3">
                <form action="/stories/<%= story.id %>/comments" method="POST" class="flex flex-col">
                    <textarea class="mx-1 border-solid border-4 my-2 border-light-blue-500 " name="comment" id="" cols="20" rows="6" placeholder="Add your thoughts about this snapshot"></textarea>
                    <input class="w-1/2 my-3 bg-black text-white py-2 cursor-pointer" type="submit" name="submit" id="submit" value="Add">
                </form>
            </section>
        </article>
    </main>
</body>
</html>