<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/tailwind.css">
</head>
<body>
    <header class="flex flex-row bg-black justify-between items-center font-body ">
        <section class="logo-section w-30 px-3 py-1">
            <div class="">
                <img class="w-3/12" src="/images/blacklogo.png" alt="snapshot logo">
            </div>
        </section>
        <section class="nav">
            <nav>
                <ul class="text-white flex flex-row justify-between text-2xl">
                    <li class="mx-4"><a href="#">Home</a></li>
                    <li class="mx-4"><a href="#">Stories</a></li>
                    <li class="mx-4"><a href="#">User</a></li>
                    <li class="mx-4"><a href="#">LogOut</a></li>
                </ul>
            </nav>
        </section>
    </header>
    <main class="">
          <article class="stories-section mx-10 my-10">
            <section class="text-right my-2 ">
                <h2 class="text-2xl bg-black text-white p-2 inline-block font-bold"><a href="/stories/new">Add New Story</a></h2>
            </section>
            <section class="text-center my-5 ">
                <h2 class="text-3xl font-bold">My Stories</h2>
            </section>
            <section class="grid grid-cols-2 gap-4 border-solid border-3 border-light-blue-500 ">
            <% stories.forEach((story) => { %>
                <section class="max-w-lg w-full lg:flex mx-2 ">
                    <div class="h-48 lg:h-auto lg:w-48 flex-none bg-center bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden p-1" style="background-image: url('/images/upload/<%= story.snapshot %>')" title="its image">
                    </div>
                    <div class="border-r border-b border-l border-grey-light lg:border-l-0 lg:border-t lg:border-gray-300 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                        <div class="mb-8">
                            <h3 class="text-black font-bold text-xl mb-2"><a href="/stories/<%= story.id %>"><%=  story.title %></a></h3>
                            <p class="text-grey-darker truncate py-4 font-semibold text-base"><a href="/stories/<%= story.id %>"><%= story.description.substring(0,70) %></a></p>
                        <div class="flex items-center py-2">
                            <img class="w-10 h-10 rounded-full mr-4" src="/images/upload/<%= story.snapshot%>" alt="Avatar of Jonathan Reinink">
                            <div class="text-sm">
                              <p class="text-black font-bold py-1 leading-none"><%= story.author.name %></p>
                              <p class="text-grey-dark"><%= story.createdAt %></p>
                            </div>
                        </div>
                    </div>
                </section>
            <% }) %>   

            </section>
          </article>
    </main>
</body>
</html>